<%- include('../partials/header'); %>

    <main class="main main-home container">
        <h2 class="main-h2 text-center text-capitalize">welcome to coding resources from womenwhocode</h2>
        <img src="https://tse4.explicit.bing.net/th?id=OIP.MPFLBVcIxDDKd8lCSn9fHwHaEK&pid=Api&P=0&w=363&h=204" alt="women coding" class="img-fluid home-image">
    </main>

<%- include('../partials/footer'); %>